.App{
    margin-left: 600px;
    margin-top: 150px;
    border: 10px solid black;
    height: 300px;
    width: 300px;
}

.props{
    margin-top: 50px;
    color: blue;
    margin-left: 40px;
    width: 170px;
    height: 50px;
}
.props:hover{
    background-color: blueviolet;
    color: white;
    transition: transform .5s; /* Animation */
    width: 175px;
    height: 60px;
    transform: scale(1.5);
}